body {
    background-image: url(../assets/algo_background.jpg);
}

header {
    background-image: url(../assets/algorhythm_name_logo.jpg);
}

#logo {
    background-image: url(../assets/algorhythm_name_logo.jpg);
}
